:root {
    font-size: 16px;
}
    
#footer {
    margin-top: 1rem;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;

    div {
        display: flex;
        flex-direction: row;
        gap: 0.5rem;

        div {
            color: white;
            background-color: purple;
            border-radius: 0.5rem;
            padding: 0.5rem;
        }
    }
}

