<div id="header">
    <h1>Products</h1>
</div>
<div id="body">
    <div class="grid-container">
        <!-- v17 syntax, different in lesser versions. This is more efficient -->
        @for (product of productsToDisplay; track product.id) { 
            <div>
                <div>
                    {{product.name}}
                </div>
                <div>
                    {{getFeatures(product.data)}}
                </div>
            </div>
        }
    </div>
</div>
<div id="footer">
    <label for="page_number">Page: </label>
    <!-- a event is fired when the page number is changed. This is how the pagination is handled -->
    <input type="number" step="1"  min="1" max={{maxPages}} name="page_number" id="page_number" [(ngModel)]="pageNumber" (ngModelChange)="onPageChange()"/> 
</div>

